.home {
    /* height: 100vh; */
    color: white;
    height: max-content;
    width: 100%;
    top: 90;
    /* padding-top: 300px; */
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.grid-container {
    /* width: 60%; */
    display: inline-block;

}

.nine-grid {
    width: 100%;
    padding: auto;
    margin: auto;
    display: block;
}

.containerme{
    width: 25%;
    display: inline-block;
    height: 30%;
    background-color: white;
    margin: 5px;
}

.grid-container .product-card{
    width: 25%;
    overflow: hidden;
    height: 30%;
}

.grid-container .product-card {

    float: none;
    margin: 5px;
}

.grid-container 
.product-card-overlay i {
    color: red;
    z-index: 7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

.product-info {
    width: 30%;
    display: inline-block;
    height: 100vh;
    padding-bottom: 60px;
    font-weight: 200;
}

.product-info .title-text, .price {
    font-size: 40px;
    font-weight: 700;
}

.product-info .price {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-info .amazon-btn {
    display: inline-block;
}

.product-info .buy-button {
    border: none;
    font-size: 18px;
    margin: 20px;
    width: 200px;
    font-weight: 600;
}

.divided-box {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-left: 150px;
    padding-right: 100px;
}

@media screen and (max-width: 1290px) {

    #home {
        height: max-content;
    }
    .divided-box {
        padding: 0;
        padding-left: 0px;
        padding-right: 0px;
        height: max-content;
    }

    .nine-grid {
        height: max-content;
    }

    .grid-container {
        width: 100%;
    }

    .grid-container .product-card, .product-card-overlay {
        width: 180px;
        height: 180px;
    }

    .product-info {
        width: 100%;
        height: max-content;
        padding: 40px;
    }

    .product-info .buy-button {
        margin: 0 auto;
        position: relative;
    }
}