<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&family=Qahiri&family=Questrial&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../../public/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../public/css/index.css">

    <link rel="stylesheet" href="../../public/css/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <script src="../../public/css/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>

    <title>Green Leaf BH</title>
</head>

<body>

    <!-- Navbar Section -->

    <div id="navbar">
        <div class="top-nav">
            <a class="nav-link home-link" href="./index.html"><img src="../../public/images/logo.png" /></a>
        </div>
        <div class="bottom-nav">
            <div class="nav-option"><a class="nav-link" href="#menu">Menu</a></div>
            <!-- <div class="nav-option with-sub"><a class="nav-link" href="./index.html">Shop</a>
                <div class="dropdown-content">
                    <a href="/resistance-band">resistance band</a>
                    <a href="/foam-roller-set">foam-roller set</a>
                </div>
            </div> -->
            <div class="nav-option"><a class="nav-link" href="#about">About</a></div>
            <div class="nav-option"><a class="nav-link" href="#contact">Contact</a></div>
            <div class="nav-option"><a class="nav-link" href="./login.html">Log in</a></div>
        </div>
    </div>


    <div class="home">

        <!-- Products -->


        <div id="menu" class="grid-container">
            <div class="nine-grid">
                <div class="product-card" style="background-image: url('../../public/images/food1.jpg')">

                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>
                </div>

                <div class="product-card" style="background-image: url('../../public/images/food2.jpg')">
                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>
                </div>

                <div class="product-card" style="background-image: url('../../public/images/food3.jpg')">
                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>
                </div>

                <div class="product-card" style="background-image: url('../../public/images/food4.jpg')">
                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>
                </div>

                <div class="product-card" style="background-image: url('../../public/images/food5.jpg')">

                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>

                </div>

                <div class="product-card" style="background-image: url('../../public/images/food6.jpg')">

                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>

                </div>

                <div class="product-card" style="background-image: url('../../public/images/food7.jpg')">

                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>

                </div>

                <div class="product-card" style="background-image: url('../../public/images/food8.jpg')">

                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>

                </div>

                <div class="product-card" style="background-image: url('../../public/images/food9.jpg')">

                    <div class="product-card-overlay">
                        <i class="far fa-heart"></i>
                        <div class="food-name">Some Food</div>
                        <a href="#">
                            <div class="add-food-to-cart"> <img src="../../public/icons/cart.png"> </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        
        <!-- Reviews section -->
        

    </div>


    <!-- About section -->

    <div id="about">
        <div class="part1">
        </div>
        <div class="part2">
            <h1>About</h1><br /><br />
            <p>We're a young, ambitious eatery founded in Bahrain.</p><br />
            <p>Our approach is simple: we cook and sell the best cuisine at very affordable prices.</p><br />
        </div>
    </div>

    <!-- Contact Section -->



    <div id="contact">
        <div class="pre-form">
            <span>Get in touch</span>
            <div style="padding: 30px;"><a href="mailto:example@mail.com">example@mail.com</a></div>
        </div>
        <div class="contact-form">
            <input name="name" type="text" id="name" placeholder="Name" required />
            <input name="email" type="email" id="email" placeholder="Email" required />
            <input class="wide" name="subject" type="text" id="subject" placeholder="Subject" />
            <textarea style="height: 200px;" id="message" class="wide" name="message" cols="500" rows="10"
                placeholder="Type your message here..."></textarea>
            <input class="wide" id="submit" type="submit" />
        </div>
    </div>

    <div id="subscribe">
        <span>Subscribe Form</span><br />
        <input height="10px" type="email" name="email" id="email-subscribe" placeholder="Email Address"
            required /><br />
        <input width="50%" type="submit" name="submit-subscribe" id="submit-subscribe" />
    </div>

    <div id="the-footer">
        ©2021 Greenleaf
    </div>

    <!-- 
    <div class="container">
        <div class="row">
            <div class="col">
                1 of 2
            </div>
            <div class="col">
                2 of 2
            </div>
        </div>
        <div class="row">
            <div class="col">
                1 of 3
            </div>
            <div class="col">
                2 of 3
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>
    </div> -->

</body>

</html>